.pl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E9FEF2;
    height: 100vh;

    .pl-texts {
        width: 65%;

        .pl-title {
            font-size: 50px;
            font-weight: 700;
            font-style: italic;
            color: black;
            font-family: 'Roboto Mono', monospace;
        }

        .pl-desc {
            margin: 20px 0px;
            font-weight: 500;
            color: #555;
        }
    }

    .pl-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {
    .pl {
        padding: 10px;

        .pl-texts {
            width: 100%;

            .pl-desc {
                display: none;
            }
        }
    }
}