.bio {
    height: 95vh;
    display: flex;
    align-items: center;

    .b-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;

        .b-card.bg {
            position: absolute;
            top: 60px;
            left: 100px;
            background-color: #123524;
        }

        .b-card {
            width: 50%;
            height: 60vh;
            border-radius: 30px;
            position: relative;
            overflow: hidden;

            .b-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .b-right {
        flex: 1;
        margin-right: 25px;

        .b-title {
            font-weight: 600;
            color: black;
            font-size: x-large;
        }

        .b-sub {
            margin: 20px 0px;
            font-weight: 600;
            color: black;
        }

        .a-desc {
            font-weight: 300;
        }

        .b-award {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .b-award-img {
                width: 120px;
                height: 120px;
                border-radius: 20px;
                cursor: pointer;
                box-shadow: 1px 1px 1px 1px;
            }

            .b-award-img.lambda {
                object-fit: cover;
                border: solid #eeee 1px;
            }

            .active {
                transform: scale(4);
                width: 150px;
                border-radius: 0;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                align-self: center;
                margin: auto;
                margin-top: 140vh;
                box-shadow: 2px 2px 2px 2px;
            }

            .b-award-texts {
                width: 70%;

                .b-award-title {
                    font-weight: bold;
                    color: #555;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .b {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;

        .b-left {
            width: 100%;

            .b-card.bg {
                display: none;
            }

            .b-card {
                height: 30vh;
            }
        }

        .b-right {
            padding: 20px;

            .b-award {
                display: none;
            }
        }
    }








}