.c {
    height: 100vh;
    position: relative;

    .c-wrapper {
        padding: 50px;
        display: flex;

        .c-left {
            flex: 1;
            margin-top: 100px;
            margin-left: 50px;

            .c-title {
                font-size: 60px;
                width: 80%;
                color: black;
            }

            .c-info-item {
                display: flex;
                align-items: center;
                margin: 50px 0px;
                font-weight: 300;
                width: 70%;

                &:hover {

                    svg {
                        transform: scale(1.2);
                    }
                }

                a {
                    text-decoration: none;
                    color: #555;
                    transition: ease-in-out 1s;

                    &:hover {
                        color: #688454;
                    }
                }

                svg {
                    width: 20px;
                    padding: 0 1rem;
                    filter: invert(11%) sepia(13%) saturate(4089%) hue-rotate(108deg) brightness(96%) contrast(86%);
                    transition: ease-in-out 1s;
                }

                .c-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }
            }
        }

        .c-right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 100px;
            margin-right: 50px;

            .c-desc {
                font-weight: 200;
                width: 96%;
                color: #555;

                span {
                    font-weight: bold;
                    color: black;
                }
            }

            .thanks {
                margin: 13rem 0;
            }

            form {
                margin-top: 20px;

                input {
                    width: 50%;
                    height: 50px;
                    border: none;
                    border-bottom: 1px solid black;
                    margin: 10px 0px;
                    font-size: 14px;
                    padding-left: 10px;
                }

                textarea {
                    width: 100%;
                    margin: 10px 0px;
                    font-size: 14px;
                    padding-left: 10px;
                }

                button {
                    border: none;
                    padding: 15px;
                    background-color: #00A767;
                    border-radius: 5px;
                    color: white;
                    font-weight: 500;
                    cursor: pointer;
                    transition: ease-in-out 1s;

                    &:hover {
                        background-color: #123524;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;

        .c-title {
            font-size: 30px;
        }

        .c-info-item {
            margin: 20px 0px;
            width: 100%;
        }

        .c-desc {
            display: none;
        }

        form {
            margin-top: 0px;
            margin-left: 20px;
            display: flex;
            flex-wrap: wrap;

            input {
                width: 35%;
                height: 40px;
                margin: 10px;
                margin-left: 0px;
            }

            button {
                margin-top: 10px;
            }
        }
    }
}