.pc {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .pc-browser {
        height: 20px;
        background-color: rgb(243, 242, 242);
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 2;

        .pc-circle {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin: 3px;
        }

        .pc-circle.one {
            background-color: red;
        }

        .pc-circle.two {
            background-color: gold;
        }

        .pc-circle.three {
            background-color: green;
        }

        p {
            width: 100%;
            justify-content: center;
            align-items: center;
            color: #123524;
        }
    }

    .pc-img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: all 10s ease;
    }

    &:hover .pc-img {
        transform: translateY(-20%);
    }
}

// .pc:hover .pc-img {
//     transform: translateY(-100%);
// }

@media screen and (max-width: 480px) {
    .pc {
        width: 40%;
        height: 20vh;
    }
}